.month-card {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
}

:host {
  display: block;
}

:host.is-even {
  background: lightgray;
}


:host.is-odd {
  background: lightcyan;
}

.month-card .month-title {
  font-size: 27px;
  font-weight: bold;
}

.month-card ::ng-deep.month-description {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 15px;
  user-select: none;
}

.month-card img {
  border-radius: 4px;
  margin-top: 10px;
}
