<div class="top-menu">
  <span class="top-menu-title">View Encapsulation Demo - 2023 Calendar</span>
</div>
<div class="month-card">
  The sky is always blue. The moon is always beautiful
</div>


<div class="months" *ngFor="let month of months, index as idx, odd as isOdd, even as isEven">
  <month-card [month]="month"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
  >
    <month-image [src]="month.iconUrl"></month-image>

    <div class="month-description">
      {{ month.longDescription }}
    </div>p
  </month-card>
</div>


